/* BASE / GLOBAL */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* CUSTOM UTILITIES */
.group:hover .group-hover\:translate-x-1 {
    transform: translateX(0.25rem);
}